# don't ever lint node_modules
node_modules
# don't lint build output
build
# don't lint nyc coverage output
coverage
.nyc_output

public
src/typings.d.ts
scripts
tests
cypress
cypress.config.ts
playwright.config.ts
