a {
  text-decoration: none;
  color: #222;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
}

.copyright {
  color: white;
  text-align: end;
}

.footer-top {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 40px 24px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 1rem;
}

.footer-bottom div {
  padding-left: 1rem;
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-top {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}