@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@515&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

