name: Playwright Tests
on: deployment_status
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    if: github.event.deployment_status.state == 'success'
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
    - name: Install dependencies
      run: yarn
    - name: Run Playwright tests
      run: yarn test-storybook
      env:
        TARGET_URL: '${{ github.event.deployment_status.target_url }}/storybook'
